
<ion-view view-title="设置"  hide-nav-bar="true">
<ion-content >
 <div class="bar bar-calm item-input-inset">
   <h1 class="title">设置</h1>
</div>

 <div class="content ionic-pseudo">

      <div class="list">
         <br>
         <a class="item item-avatar item-icon-right" href="#">
          <img src="img/head_portrait.jpg">
          <h2>{{userInfo.userid}}</h2>
          <p>{{userInfo.role|role}}</p>
        </a>
        <br>
        <a class="item item-icon-left" href="#/location">
          <i class="icon ion-location balanced"></i>位置<span class="item-note">{{myLocation}}</span>
        </a>
        <br>
        <a class="item item-icon-left" href="#/myprofile">
          <i class="icon ion-gear-a calm"></i>个人信息
        </a>
        <br>
        <a class="item item-icon-left" href="#/setPassword">
          <i class="icon ion-key assertive"></i>修改密码
        </a>
        <br>
        <a class="item item-icon-left" ng-click="logOutConfirm()">
          <i class="icon ion-log-out energized"></i>退出登录
        </a>        

 </div>

    </div>
  </ion-content>
</ion-view>
