
<ion-view view-title="设置"  hide-nav-bar="true">
<ion-content >
 <div class="bar bar-calm item-input-inset">
   <h1 class="title">设置</h1>
</div>

 <div class="content ionic-pseudo">

      <div class="list">
         <br>
         <a class="item item-avatar item-icon-right" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>骆宾王</h2>
          <p>急救人员：E20110102</p>
        </a>
        <br>
        <a class="item item-icon-left" href="#/location">
          <i class="icon ion-location balanced"></i>位置
        </a>
        <br>
        <a class="item item-icon-left" href="#/ambulance/myprofile">
          <i class="icon ion-gear-a calm"></i>个人信息
        </a>
        <br>
        <a class="item item-icon-left" href="#/ambulance/setPassword">
          <i class="icon ion-key assertive"></i>修改密码
        </a>
        <br>
        <a class="item item-icon-left" ng-click="logOutConfirm()">
          <i class="icon ion-log-out energized"></i>退出登录
        </a>        

 </div>

    </div>
  </ion-content>
</ion-view>
