<!-- /////伤情处置记录生理生化信息录入////// -->
<ion-view view-title="{{lastchooseitem | itemname}}">
<ion-nav-bar class="bar-positive">
	<ion-nav-buttons side="left">
      <button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
       <a class="button button-icon icon ion-ios-list-outline" href="#/patientInfo"></a>
    </ion-nav-buttons>
</ion-nav-bar>
    <div class="textarea2" ng-style="mytext2height">
    	<textarea ng-style="mytext2textareaheight" id="mytext2" ng-model="textarea2value" ng-blur="loosecurse()" type="text" rows="1" placeholder="请填写50字以内" ng-maxlength=50></textarea>
    	<div class="button-bar">
		  <a class="button button-positive" ng-click="doneotherinfo()">完成</a>
		</div>
    </div>
	
	
	<ion-nav-view id="basicinfo" class="basicinfo hide-on-keyboard-open">
		<ion-content scroll="false">
			<a class="item item-thumbnail-left" href="#">
				<img src="img/head_portrait.jpg">
				<h2>
					病人ID：{{testdata.PatientID}} &nbsp&nbsp&nbsp&nbsp
					就诊编号：{{testdata.VisitNo}}
				</h2>
				<!-- <h2>姓名：{{testdata.PID}}</h2> -->
			</a>
		</ion-content>
	</ion-nav-view>
	<ion-nav-view id="firstdirs" class="firstdirs hide-on-keyboard-open">
		<ion-content scroll="true" scrollbar-y="false">
			<ion-list>
				<div class="itemdivider">
			    	<h3>检测信息</h3>
			  	</div>
			  	<a class="item item-icon-right" href="#" ng-repeat="item in firstdirs[2]"
				ng-click="chooseitem(item)"  ng-style="items[item].Style">
    				<i class="icon ion-ios-arrow-right"></i>
					{{item | itemname}}
				</a>
				<div class="itemdivider">
			    	<h3>伤情记录</h3>
			  	</div>
				<a class="item item-icon-right" href="#" ng-repeat="item in firstdirs[0]"
				ng-click="chooseitem(item)"  ng-style="items[item].Style">
    				<i class="icon ion-ios-arrow-right"></i>
					{{item | itemname}}
				</a>
				<div class="itemdivider">
			    	<h3>处置记录</h3>
			  	</div>
				<a class="item item-icon-right" href="#" ng-repeat="item in firstdirs[1]"
				ng-click="chooseitem(item)"  ng-style="items[item].Style">
    				<i class="icon ion-ios-arrow-right"></i>
					{{item | itemname}}
				</a>
			</ion-list>
		</ion-content>
	</ion-nav-view>
	<ion-nav-view id="seconddirs" class="seconddirs hide-on-keyboard-open">
		<ion-content scroll="true" scrollbar-y="false" delegate-handle="myhand">
			<ion-list ng-if="!showPDA">
				<ion-checkbox ng-model="item.status" ng-repeat="item in itemdetail" ng-change="onselectchange(item)">
					{{item.ItemName}}
				</ion-checkbox>
				<textarea class="textarea1" ng-focus="OnFocus($index)" id="mytext1" ng-model="itemdetail.slice(-1)[0].value" ng-if="itemdetail.slice(-1)[0].status" type="text" rows="4" placeholder="请填写50字以内" ng-maxlength=50></textarea>
			</ion-list>
			<div ng-if="showPDA">
				<ion-list ng-if="ifphysiological">
					<a class="item" style="text-align:center;" href="#" ng-click="clickshowdeviceoption('Physical')">
						读取设备
					</a>
					<ion-item style="text-align:center;" ng-if="showdeviceoption_p">
						<a class="item" href="#">
							获取数据
						</a>
					</ion-item>
					<label class="item item-input" ng-repeat="item in itemdetail">
						<span class="input-label">{{item.ItemName}}</span>
							<input type="text" ng-model="item.value" ng-focus="OnFocus($index)"></input>
					</label>
					<div class="item item-button-right" style="font-size: 15px;">
						战伤计分:&nbsp{{scoring}}&nbsp分
						<button class="button button-positive" ng-click="showdescribe()">
							说明
						</button>
					</div>
					<ion-item style="word-break:break-all;white-space:normal">
						神志昏迷等级，按一下3项判定得分之和进行区分：<br/>
						(1).睁眼动作：自动睁眼4分，呼唤睁眼3分，刺痛睁眼2分，不睁眼1分。<br/>
						(2).语言反应：回答切题5分，回答不切题4分，答非所问3分，只能发音2分，不能言语1分。<br/>
						(3).运动反应：按吩咐动作6分，刺痛能定位5分，刺痛能躲避4分，刺痛后肢体能屈曲3分，刺痛后肢体能过度伸展2分，不能活动1分。
					</ion-item>
				</ion-list>
				<ion-list ng-if="ifbiochemical">
					<a class="item" style="text-align:center;" href="#" ng-click="clickshowdeviceoption('Biochemical')">
						读取设备
					</a>
					<ion-item style="text-align:center;" ng-if="showdeviceoption_b">
						<a class="item" href="#" ng-click="starttimesync()">
							同步时间
						</a>
						<a class="item" href="#" ng-click="receivecurrentdata()">
							获取当次数据
						</a>
						<!-- <a class="item" href="#">
							获取N组数据
						</a> -->
						<a class="item" style="padding-top: 4px;padding-bottom: 4px;" href="#" ng-click="showConfirm()">
							绑定设备<label><br/>{{bindble}}</label>
						</a>
					</ion-item>
					<label class="item item-input" ng-repeat="item in itemdetail">
						<span class="input-label">{{item.ItemName}}</span>
							<input type="text" ng-model="item.value" ng-focus="OnFocus($index)">
					</label>
				</ion-list>
			</div>
		</ion-content>
	</ion-nav-view>
	<ion-nav-view id="bottombutton" class="bottombutton hide-on-keyboard-open">
		<ion-content scroll="false" scrollbar-y="false">
			<div class="button-bar">
			  <a class="button button-assertive" ng-click="saveall()">后送</a>
			  <a class="button button-positive" ng-click="saveall()">保存</a>
			</div>
		</ion-content>
	</ion-nav-view>
</ion-view>
<style type="text/css">
	html,body{height:100%}
	.has-header {
		top: 0px; 
	}
	.itemdivider {
	    height: 50px;
	    background-color: #4689FA;
	}
	.itemdivider h3 {
		position: relative;
		top: 10px;
		text-align:center;
	}
	.textarea1{
		margin: 0px 0px 50px 0px;
		width: 100%;
		height: auto;

		border-style: solid;
		border-width: 2px 2px 2px 2px;
		border-color: red;
	}
	.textarea2{
		position: absolute;
		
		top: 43px;
		width: 100%;
		
		z-index: 0;
		height: 0px;

		border-style: solid;
		border-width: 2px 2px 2px 2px;
		border-color: blue ;
	}
	.textarea2 textarea{
		width:100%;
		/*height: 80px;*/
	}
	.textarea2 div{
		position: absolute;
		bottom: 0px;
	}
	.item {
	    font-size: 18px;
	    font-weight: normal;
	}
	.item h2 {
	    margin: 12px 0 10px 0;
	    font-size: 20px;
	    font-weight: normal;
	}
	.basicinfo {
		position: absolute;
		
		width: 100%;
		

		min-height: 100px;

		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-color: blue ;
	}
	.firstdirs {
		position: absolute;

		margin-top: -1px;
		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-color: red ;
	}
	.seconddirs {
		position: absolute;

		border-style: solid;
		border-width: 0px 0px 0px 2px;
		border-color: blue ;
	}
	.Preview {
		position: absolute;
		
		bottom: 57px;
		width: 100%;

		border-style: solid;
		border-width: 2px 2px 2px 2px;
		border-color: red ;
	}
	.bottombutton {
		position: absolute;
		bottom:0px;
		width: 100%;
		height: 47px;

		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-color: blue ;
	}
	.button-bar {
    	width: 100%;
    	padding-top: 0px;
	}
	.item-checkbox {
	    padding-left: 10px;
	}
	.item-checkbox .checkbox {
		position: relative;
	    float:right;
	    top: 15px;
	    z-index: 3;
	    margin-top: -21px;
	}
</style>