
<ion-view view-title="急救伤员列表">
<ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-android-person-add" href="#/newPatient"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-calm">
      <div class="tabs tabs-icon-top tabs-top"  >  
          <a class="tab-item" ng-click="sel_tab('tab1')"    >  
            <i class="icon ion-ios-heart"  ng-style="tab1_color"  ></i>  
                <span  ng-style="tab1_color"  >已接收</span>  
          </a>  
          <a class="tab-item" ng-click="sel_tab('tab2')">  
            <i class="icon ion-ios-star-half" ng-style="tab2_color" ></i>  
                <span  ng-style="tab2_color"  >已后送</span>  
          </a>                    
          <a class="tab-item" ng-click="sel_tab('tab3')" >  
            <i class="icon ion-ios-star" ng-style="tab3_color"></i>  
            <span  ng-style="tab3_color"  >已送达</span>  
          </a>  
        </div> 
  </ion-header-bar>

  <ion-content> 
       
  </ion-content>
</ion-view>
