
<ion-view view-title="急救伤员列表">
<ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-android-person-add" href="#/newPatient"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-calm">
    <div class="tabs-striped tabs-top tabs-color-assertive">
      <div class="tabs">
        <a class="tab-item active" href="#/ambulance/list">
          已接收
        </a>
        <a class="tab-item" href="#/ambulance/list1">
          <!-- <i class="icon ion-star"></i> -->
          已后送
        </a>
        <a class="tab-item" href="#/ambulance/mine">
          <!-- <i class="icon ion-gear-a"></i> -->
          已送达
        </a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content> 
      
  </ion-content>
</ion-view>
