<ion-view view-title="创建就诊记录">

  <ion-header-bar class="bar-calm">
    <!-- <button class="button button-clear" ng-click="goBack()">返回</button> -->
    <a class="button button-icon icon ion-ios-home" href="#/ambulance/list" ></a>
    <h1 class="title">创建就诊记录</h1>
  </ion-header-bar>

  <ion-content> 
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/head_portrait.jpg">
        <h2>ID号：{{Patient.PatientID}}</h2>
        <p>姓名：{{Patient.PatientName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>

      <ion-item>
        <div style="width:100%">
          <span class="input-label" >伤员就诊编号:</span> 
        </div>  
        <div >
        <input type="text" ng-model="NewVisitNo.VisitNo" style="width:100%;background:#f4f4f4;" readonly="readonly"> 
        </div>

        <div style="width:100%">
          <span class="input-label">受伤时间:</span> 
        </div>  
        <div>
          <input type="datetime-local" style="width:100%;background:#f4f4f4;" ng-model="visitInfo.InjuryDateTime"> 
        </div>

        <div style="width:100%;">
          <span class="input-label">受伤地点:</span> 
        </div>  
        <div>
        <textarea ng-model="visitInfo.InjuryArea" rows="3" style="width: 100%;background:#f4f4f4;"></textarea>
        </div>

        <div style="width:100%">
          <span class="input-label">救治时间:</span> 
        </div>  
        <div>
          <input type="datetime-local"  style="width:100%;background:#f4f4f4;" ng-model="visitInfo.VisitDateTime"> 
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left "style="vertical-align:center;">
          <a class="tab-item" ng-click="saveVisitInfo()" style="font-size:16px;color:blue">
            <i class="ion-android-upload" style="font-size:30px;"></i>
            保存
          </a>
          <a class="tab-item" ng-click="showreservePop()" style="font-size:16px;color:red">
            <i class="ion-ios-bolt" style="font-size:30px;"></i>
            后送
          </a>
          <a class="tab-item" href="#/injury" style="font-size:16px;color:green" ng-click="goInjury()">
           <i class="ion-ios-compose active"style="font-size:30px;"></i>
           伤情
          </a>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>